body {
  margin: 0;
  font-family: "Arial", sans-serif;
  background: #0d0d0d;
  color: white;
}

.container {
  text-align: center;
  padding: 20px;
}

.navbar {
  display: flex;
  justify-content: center;
  background: rgba(255, 255, 255, 0.1);
  padding: 15px;
  backdrop-filter: blur(10px);
  border-radius: 10px;
}

.navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 20px;
}

.navbar a {
  text-decoration: none;
  color: cyan;
  font-size: 18px;
  transition: color 0.3s ease;
}

.navbar a:hover {
  color: lime;
}

.title {
  font-size: 36px;
  font-weight: bold;
  margin: 20px 0;
}

.neon-text {
  color: cyan;
  text-shadow: 0 0 10px cyan, 0 0 20px cyan;
}

.search-input {
  width: 100%;
  max-width: 400px;
  padding: 10px;
  font-size: 19px;
  border: 2px solid #ccc;
  border-radius: 10px;
  outline: none;
  transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  margin-top: 20px;
}

.search-input:focus {
  border-color: #009dff;
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.5);
}

@media (max-width: 768px) {
  .search-input {
    width: 90%;
  }
}


.car-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
}

.card {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  padding: 15px;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px cyan;
}

.car-image {
  max-width: 300px;
  max-height: 200px;
  width: auto;
  height: auto;
  display: block;
  margin: 10px auto;
  border-radius: 10px;
  object-fit: cover;
}


.car-details {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.car-details-content {
  background: rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 10px;
  max-width: 90vw;
  max-height: 90vh;
  overflow: auto;
  text-align: center;
  width: 60%;
  backdrop-filter: blur(10px);
}

.car-image-large {
  max-width: 100%;
  max-height: 70vh;
  object-fit: contain;
}

.neon-button {
  background: none;
  border: 2px solid cyan;
  color: cyan;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s ease;
  border-radius: 5px;
}

.neon-button:hover {
  background: cyan;
  color: black;
  box-shadow: 0 0 10px cyan;
}

.footer {
  margin-top: 20px;
  padding: 10px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}
